@import 'variables.scss';

.Card {
  display: flex;
  flex-direction: column;
  background: #A1ABB6;
  border: 5px solid $button-border;
  border-radius: 10px;
  width: 15rem;
  margin: 0 1;
  margin-left: 5rem;
  margin-bottom: 3rem;
  color: #f2f2f2;
  opacity: 0.95;
  text-shadow: 2px 2px $shadow-color;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &:active {
    box-shadow: inset 0 0 10px #000000;
  }
  svg {
    margin: .8rem .8rem 0 auto;
  }
}

ul {
  margin: 1rem;
  padding: 0;
  list-style-type: none;
  li {
    margin-bottom: .5rem;
    span {
      color: #E3D6D3;
      text-decoration-line: underline;
   }
 }
}

.name {
  margin-bottom: 1rem;
  color: #E3D6D3;
  font-size: 2rem;
}

.residents {
  height: 6rem;
  line-height: 2rem;
  overflow: auto;
}

@media screen and (max-width: 900px) {
  .Card {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .Card {
    min-width: 15rem;
  }
}