.crawler-container {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  perspective: 300px;
  overflow: hidden;
  background: url(../../assets/background.png) no-repeat;
  z-index: -10;
}

.crawler {
  position: relative;
  font-size: 2rem;
  width: 100%;
  animation: crawl 60s infinite linear;
  color: #F9C835;
  p {
    width: 100%;
  }
  .film-end {
    margin-bottom: 1200px;
  }
}

@keyframes crawl {
  0% {
    top: 100vh;
    transform: rotateX(20deg) translateZ(0);
  }

  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px)

  }
}