
.crawler-container {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid cadetblue;
  height: 100vh;
  perspective: 300px;
  overflow: hidden;
  background: url(../../images/background.png) no-repeat center center;
  background-size: 100%;
  z-index: -10;
}

.crawler {
  position: relative;
  font-size: 2rem;
  width: 100%;
  animation: crawl 60s infinite linear;
  color: #F9C835;
}

.crawler p {
  width: 100%;
}

@keyframes crawl {
  0% {
    top: 100vh;
    transform: rotateX(20deg) translateZ(0);
  }

  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px)

  }
}

.film-end {
  margin-bottom: 1200px;
}