.App {
  width: 100%;
  height: 100vh;
}

.show-loading {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  background-color: #3a3a3a;
}

.hide-loading {
  display: none;
}